# requirements for running tests
# need lambda physical resource id
# https://github.com/spulec/moto/pull/2156
git+https://github.com/william-richard/moto.git#egg=moto
pytest
pytest-cov==2.6.1
pytest-mock
pytest-xdist
tox
tox-pyenv
